.Button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border: none;
    font-size: 18x;
}

.MenuButton {
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.MenuButton > span {
    width: 35px;
    height: 3px;
    border-radius: 30px;
    background-color: #222;
    transition: all .35s;
}

.MenuButton > span:nth-child(1) {
    transform: translate(-130px, -8px);
}

.MenuButton > span:nth-child(2) {
    transform: translate(-130px, -50%);
}

.MenuButton > span:nth-child(3) {
    transform: translate(-130px, 5px);
}