table {
    border-collapse: collapse;
    transform: translateY(55px);
}

th {
    color: white;
    background-color: orange;
    padding-top: 10px;
    padding-bottom: 10px;
}


td {
    border-top: 1px solid grey;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
} 