.Body {
    width: 100%;
    height: 91.5vh;
    margin: 0 auto;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.검색창 {
    transform: translate(150px, 40px);
}

.pageButton {
    transform: translateY(400%);
}